<div class="container site-section">
    <!-- Change League-->
    <div class="row">
        <div class="col-6 title-section">
            <h2 class="heading">Change League</h2>
        </div>
        <div class="col-12">
            <div class="dropdown">
                <button class="btn btn-lg btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Choose Another League <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for league in leagues %}
                    <li class="dropdown-item">
                        <a href="{% url 'Website-league_details' league.slug %}">{{ league.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Change Stats-->
    <div class="row mt-5">
        <div class="col-6 title-section">
            <h2 class="heading">Change Stat</h2>
        </div>
        <div class="col-12">
            <div class="dropdown">
                <button class="btn btn-lg btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Choose Another Stat <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a href="{% url 'Website-league_details' league.slug %}">League Table Ranking</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-league_over_05_goals' league.slug %}">Over 0.5 Goals</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-league_over_15_goals' league.slug %}">Over 1.5 Goals</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-league_over_25_goals' league.slug %}">Over 2.5 Goals</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-league_over_35_goals' league.slug %}">Over 3.5 Goals</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-corners' league.slug %}">Corners</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-cards' league.slug %}">Cards</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-rescued_points' league.slug %}">Rescued Points</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-clean_sheets' league.slug %}">Clean Sheets/Failed To Score</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-win_loss' league.slug %}">Winning/Losing Margin</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-scored_first' league.slug %}">Scored First</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'Website-average_team_goals' league.slug %}">Average Team Score</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>