{% extends 'base.html' %}
{% load static %}

{% block page-infos %}
<h1 class="text-white">{{ league.name }}</h1>
<h3 class="text-white">Rescued Points</h3>
<h6 class="text-white">Season {{ season.name }}</h6>
{% endblock %}

{% block content %}
<!-- Change League Section-->
{% include 'base/change_league_stat.html' %}

<div id="carouselRescuedPoints" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carouselRescuedPoints" data-slide-to="0" class="active"></li>
        <li data-target="#carouselRescuedPoints" data-slide-to="1"></li>
        <li data-target="#carouselRescuedPoints" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <!-- Rescued Points Home Stat Section-->
        <div class="carousel-item active">
            <div class="site-section bg-dark">
                <div class="container">
                    <div class="row">
                        <!-- Section Title -->
                        <div class="col-12 title-section">
                            <h2 class="heading">Rescued Points Home</h2>
                        </div>

                        <!-- Table Rescued Points Home Section -->
                        <div class="col-xl-12  mb-4">
                            <h6 class="heading text-center">Home</h6>
                            <div class="widget-next-match">
                                <table class="table custom-table text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="col-3">Team</th>
                                        <th scope="col" class="col-1">G</th>
                                        <th scope="col" class="col-1">CF</th>
                                        <th scope="col" class="col-1">DFB</th>
                                        <th scope="col" class="col-1">WFB</th>
                                        <th scope="col" class="col-1">PTS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rescued_points_stat in rescued_points_stats|dictsortreversed:"home_rescued_points" %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'Website-team_details' rescued_points_stat.team.season.league.slug rescued_points_stat.team.slug  %}">
                                                {{ rescued_points_stat.team.name }}
                                            </a></td>
                                        <td>{{ rescued_points_stat.home_matches_played }}</td>
                                        <td>{{ rescued_points_stat.home_conceded_first }}</td>
                                        <td>{{ rescued_points_stat.home_drawn_after_conceding_first }}</td>
                                        <td>{{ rescued_points_stat.home_won_after_conceding_first }}</td>
                                        <td>{{ rescued_points_stat.home_rescued_points }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <p class="mb-0"><span class="font-weight-bold">G</span> – Number of games played</p>
                            <p class="mb-0"><span class="font-weight-bold">CF</span> – Number of games a team has conceded the first goal</p>
                            <p class="mb-0"><span class="font-weight-bold">DFB</span> – Number of games a team has drawn after conceding first</p>
                            <p class="mb-0"><span class="font-weight-bold">WFB</span> – Number of games a team has won after conceding first</p>
                            <p class="mb-0"><span class="font-weight-bold">PTS</span> – Number of points a team has gained after conceding first</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rescued Points Away Stat Section-->
        <div class="carousel-item">
            <div class="site-section bg-dark">
                <div class="container">
                    <div class="row">
                        <!-- Section Title -->
                        <div class="col-12 title-section">
                            <h2 class="heading">Rescued Points Away</h2>
                        </div>

                        <!-- Table Rescued Points Away Section -->
                        <div class="col-xl-12  mb-4">
                            <h6 class="heading text-center">Away</h6>
                            <div class="widget-next-match">
                                <table class="table custom-table text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="col-3">Team</th>
                                        <th scope="col" class="col-1">G</th>
                                        <th scope="col" class="col-1">CF</th>
                                        <th scope="col" class="col-1">DFB</th>
                                        <th scope="col" class="col-1">WFB</th>
                                        <th scope="col" class="col-1">PTS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rescued_points_stat in rescued_points_stats|dictsortreversed:"away_rescued_points" %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'Website-team_details' rescued_points_stat.team.season.league.slug rescued_points_stat.team.slug  %}">
                                                {{ rescued_points_stat.team.name }}
                                            </a></td>
                                        <td>{{ rescued_points_stat.away_matches_played }}</td>
                                        <td>{{ rescued_points_stat.away_conceded_first }}</td>
                                        <td>{{ rescued_points_stat.away_drawn_after_conceding_first }}</td>
                                        <td>{{ rescued_points_stat.away_won_after_conceding_first }}</td>
                                        <td>{{ rescued_points_stat.away_rescued_points }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <p class="mb-0"><span class="font-weight-bold">G</span> – Number of games played</p>
                            <p class="mb-0"><span class="font-weight-bold">CF</span> – Number of games a team has conceded the first goal</p>
                            <p class="mb-0"><span class="font-weight-bold">DFB</span> – Number of games a team has drawn after conceding first</p>
                            <p class="mb-0"><span class="font-weight-bold">WFB</span> – Number of games a team has won after conceding first</p>
                            <p class="mb-0"><span class="font-weight-bold">PTS</span> – Number of points a team has gained after conceding first</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rescued Points Overall Stat Section-->
        <div class="carousel-item">
            <div class="site-section bg-dark">
                <div class="container">
                    <div class="row">
                        <!-- Title Section-->
                        <div class="col-12 title-section">
                            <h2 class="heading">Rescued Points Overall</h2>
                        </div>

                        <!-- Table Rescued Points Overall Section -->
                        <div class="col-xl-12  mb-4">
                            <h6 class="heading text-center">Overall</h6>
                            <div class="widget-next-match">
                                <table class="table custom-table text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="col-3">Team</th>
                                        <th scope="col" class="col-1">G</th>
                                        <th scope="col" class="col-1">CF</th>
                                        <th scope="col" class="col-1">DFB</th>
                                        <th scope="col" class="col-1">WFB</th>
                                        <th scope="col" class="col-1">PTS</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rescued_points_stat in rescued_points_stats|dictsortreversed:"overall_rescued_points" %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'Website-team_details' rescued_points_stat.team.season.league.slug rescued_points_stat.team.slug  %}">
                                                {{ rescued_points_stat.team.name }}
                                            </a></td>
                                        <td>{{ rescued_points_stat.overall_matches_played }}</td>
                                        <td>{{ rescued_points_stat.overall_conceded_first }}</td>
                                        <td>{{ rescued_points_stat.overall_drawn_after_conceding_first }}</td>
                                        <td>{{ rescued_points_stat.overall_won_after_conceding_first }}</td>
                                        <td>{{ rescued_points_stat.overall_rescued_points }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto text-center">
                            <p class="mb-0"><span class="font-weight-bold">G</span> – Number of games played</p>
                            <p class="mb-0"><span class="font-weight-bold">CF</span> – Number of games a team has conceded the first goal</p>
                            <p class="mb-0"><span class="font-weight-bold">DFB</span> – Number of games a team has drawn after conceding first</p>
                            <p class="mb-0"><span class="font-weight-bold">WFB</span> – Number of games a team has won after conceding first</p>
                            <p class="mb-0"><span class="font-weight-bold">PTS</span> – Number of points a team has gained after conceding first</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselRescuedPoints" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselRescuedPoints" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endblock %}