{% extends 'base.html' %}
{% load static %}

{% block page-infos %}
<h1 class="text-white">{{ league.name }}</h1>
<h3 class="text-white">Early Goals</h3>
<h6 class="text-white">Season {{ season.name }}</h6>
{% endblock %}

{% block content %}
<!-- Change League Section-->
{% include 'base/change_league_stat.html' %}

<!-- Early Goals Stat Section-->
<div class="site-section bg-dark">
    <div class="container">
        <div class="row">
            <!-- Section Title -->
            <div class="col-12 title-section">
                <h2 class="heading">Early Goals</h2>
            </div>

            <!-- Table Early Goals Home Section -->
            <div class="col-xl-4  mb-4">
                <h6 class="heading text-center">Home</h6>
                <div class="widget-next-match">
                    <table class="table custom-table text-center">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>G</th>
                            <th>S15</th>
                            <th>C15</th>
                            <th>Any</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for early_goals_stat in early_goals_stats %}
                        <tr>
                            <td>
                                <a href="{% url 'Website-team_details' early_goals_stat.team.season.league.slug early_goals_stat.team.slug  %}">
                                    {{ early_goals_stat.team.name }}
                                </a></td>
                            <td>{{ early_goals_stat.home_matches_played }}</td>
                            <td>{{ early_goals_stat.home_scored_early }}</td>
                            <td>{{ early_goals_stat.home_conceded_early }}</td>
                            <td>{{ early_goals_stat.home_scored_or_conceded_early }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Table Early Goals Away Section -->
            <div class="col-xl-4  mb-4">
                <h6 class="heading text-center">Away</h6>
                <div class="widget-next-match">
                    <table class="table custom-table text-center">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>G</th>
                            <th>S15</th>
                            <th>C15</th>
                            <th>Any</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for early_goals_stat in early_goals_stats %}
                        <tr>
                            <td>
                                <a href="{% url 'Website-team_details' early_goals_stat.team.season.league.slug early_goals_stat.team.slug  %}">
                                    {{ early_goals_stat.team.name }}
                                </a></td>
                            <td>{{ early_goals_stat.away_matches_played }}</td>
                            <td>{{ early_goals_stat.away_scored_early }}</td>
                            <td>{{ early_goals_stat.away_conceded_early }}</td>
                            <td>{{ early_goals_stat.away_scored_or_conceded_early }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Table Early Goals Overall Section -->
            <div class="col-xl-4  mb-4">
                <h6 class="heading text-center">Overall</h6>
                <div class="widget-next-match">
                    <table class="table custom-table text-center">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>G</th>
                            <th>S15</th>
                            <th>C15</th>
                            <th>Any</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for early_goals_stat in early_goals_stats %}
                        <tr>
                            <td>
                                <a href="{% url 'Website-team_details' early_goals_stat.team.season.league.slug early_goals_stat.team.slug  %}">
                                    {{ early_goals_stat.team.name }}
                                </a></td>
                            <td>{{ early_goals_stat.overall_matches_played }}</td>
                            <td>{{ early_goals_stat.overall_scored_early }}</td>
                            <td>{{ early_goals_stat.overall_conceded_early }}</td>
                            <td>{{ early_goals_stat.overall_scored_or_conceded_early }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-auto text-center">
                <p class="mb-0"><span class="font-weight-bold">G</span> – Number of games played</p>
                <p class="mb-0"><span class="font-weight-bold">S15</span> – Number of games a team has scored in the first 15 minutes</p>
                <p class="mb-0"><span class="font-weight-bold">C15</span> – Number of games a team has conceded in the first 15 minutes</p>
                <p class="mb-0"><span class="font-weight-bold">ANY</span> – Number of games a team has scored/conceded OR both in the first 15 minutes</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}