{% extends 'base.html' %}
{% load static %}

{% block page-infos %}
<h1 class="text-white">{{ league.name }}</h1>
<h3 class="text-white">Table Ranking</h3>
<h6 class="text-white">Season {{ season.name }}</h6>
{% endblock %}

{% block content %}
<!-- Change League Section-->
{% include 'base/change_league_stat.html' %}

<!-- League Table Ranking Section-->
<div class="site-section bg-dark">
    <div class="container">
        <div class="row">
            <!-- Title Section -->
            <div class="col-12 title-section">
                <h2 class="heading">Table Ranking</h2>
            </div>
            <!-- Table Section -->
            <div class="col-lg-12">
                <div class="widget-next-match">
                    <table class="table table-responsive-xs custom-table text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">R</th>
                            <th scope="col" class="col-3">Team</th>
                            <th scope="col" class="col-1">P</th>
                            <th scope="col" class="col-1">W</th>
                            <th scope="col" class="col-1">D</th>
                            <th scope="col" class="col-1">L</th>
                            <th scope="col" class="col-1">GF</th>
                            <th scope="col" class="col-1">GA</th>
                            <th scope="col" class="col-1">GD</th>
                            <th scope="col" class="col-1">PTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team_ranking in teams_ranking %}
                        <tr>
                            <td>{{ team_ranking.ranking }}</td>
                            <td>
                                <a href="{% url 'Website-team_details' team_ranking.team.season.league.slug team_ranking.team.slug  %}">
                                    {{ team_ranking.team.name }}
                                </a>
                            </td>
                            <td>{{ team_ranking.matches_played }}</td>
                            <td>{{ team_ranking.matches_won }}</td>
                            <td>{{ team_ranking.matches_drawn }}</td>
                            <td>{{ team_ranking.matches_lost }}</td>
                            <td>{{ team_ranking.goals_scored }}</td>
                            <td>{{ team_ranking.goals_conceded }}</td>
                            <td>{{ team_ranking.goals_difference }}</td>
                            <td>{{ team_ranking.points }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto text-center">
                <p class="mb-0"><span class="font-weight-bold">R</span> – Team ranking</p>
                <p class="mb-0"><span class="font-weight-bold">P</span> – Number of games played</p>
                <p class="mb-0"><span class="font-weight-bold">W</span> – Number of games a team has won</p>
                <p class="mb-0"><span class="font-weight-bold">D</span> – Number of games a team has drawn</p>
                <p class="mb-0"><span class="font-weight-bold">L</span> – Number of games a team has lost</p>
                <p class="mb-0"><span class="font-weight-bold">GF</span> – Number of goals a team has scored</p>
                <p class="mb-0"><span class="font-weight-bold">GA</span> – Number of goals a team has conceded</p>
                <p class="mb-0"><span class="font-weight-bold">GD</span> – Goals difference</p>
                <p class="mb-0"><span class="font-weight-bold">PTS</span> – Number of points a team has</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}